[submodule "third_party/uart_control"]
	path = third_party/uart_control
	url = https://github.com/leolei2012/uart_control.git
[submodule "third_party/mb_rtu"]
	path = third_party/mb_rtu
	url = https://github.com/leolei2012/mb_rtu
